.App {
  text-align: center;
  height: 100vh;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.dropdown {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: row;
  width: 700px;
  margin: 5% auto 1% auto;
  justify-content: space-between;
  background-color: aquamarine;
}

#root {
  background-image: linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
}

button:focus {
  outline:0;
}

.submitBtn {
  padding: 10px;
}