.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.dropdown {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: row;
  width: 90%;
  margin: 15% auto;
  justify-content: space-between;
}