.msgContainer {
  display: flex;
  align-content: center;
  justify-content: center;
}

.msg {
  background-color: gray;
  padding: 5px 25px;
  color: white;
  font-family: "Courier New", Courier, monospace;
}